/3_semester/nbproject/private/
/3_semester_ClientGui/nbproject/private/
/3_semester_ServerDomain/nbproject/private/
/3_semester_ServerPersistence/nbproject/private/
/3_semester_Acquaintance/nbproject/private/
/3_semester_ServerStarter/nbproject/private/
/3_semester_ClientStarter/nbproject/private/
/3_semester_ServerComm/nbproject/private/
/3_semester_ClientComm/nbproject/private/
/3_semester_Acquaintance/build/
/3_semester_ClientComm/build/
/3_semester_ClientStarter/build/
/3_semester/build/
/3_semester_ClientGui/build/
/3_semester_ServerComm/build/
/3_semester_ServerStarter/build/
/3_semester_ServerDomain/build/
/3_semester_ServerPersistence/build/
/3_semester_ClientGui/dist/
/3_semester/dist/
/3_semester_ServerPersistence/dist/
/3_semester_ServerDomain/dist/
/3_semester_ServerComm/dist/
/3_semester_ClientComm/dist/